# DB connection config
DB_HOST=
DB_PORT=3306
DB_USER=qln
DB_PASSWORD=
DB_DATABASE=qln

# HTTP server config
SERVER_LISTEN_IP=0.0.0.0
SERVER_LISTEN_PORT=8000

# IP acquisition mode | dev = remoteAddress | live = cf-connecting-ip
IP_MODE=live

# APP config
APP_URL=
APP_MANAGEMENT_PATH=control