body {
    background-color: #3d3d3d;
}
p {
    display: inline;
    color: white;
}
p.error {
    color: red;
}
button {
    width: 100px;
}
button.delete {
    width:50px;
}
a {
    color: cyan;
}
table {
    border: 2px solid rgb(206, 206, 206);
}
th {
    color: white;
    border: 1px solid white;
}
td {
    color: white;
    border: 1px solid white;
}