body {
    background-color: #3d3d3d;
}
p {
    display: inline;
    color: white;
}
p.error {
    color: red;
}
button.input {
    width: 100px;
}
/* button.delete {
    width:50px;
} */
a {
    color: cyan;
}
table {
    text-align: left;
}
table#list {
    border: 2px solid rgb(206, 206, 206);
}
th.list {
    color: white;
    border: 1px solid white;
}
td.list {
    color: white;
    border: 1px solid white;
}