p {
    display: inline;
}
.error {
    color: red;
}
button {
    width: 100px;
}
button.delete {
    width:50px;
}
p.delete_error {
    color: red;
}
a {
    color: blue;
}
table {
    border: 2px solid rgb(140 140 140);
}